@import url('https://fonts.cdnfonts.com/css/alegreya-sans-sc');
.mainPage{
    flex:1;
    display: flex;
}

.mainSite{
    flex:1;
    padding: 64px 64px;
    background-color: #F4F6F9;
}

.welcomeText{
    font-size: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.username{
    color: #329DFF;
    font-size: 24px;
}

.messagesTable{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.pageHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.addMessage{
    background-color: #329DFF;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;
    border: none;
    letter-spacing: 1.5px;
    color:#FFFFFF;
    font-family: "Assistant";
    font-weight: 400;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:8px;
    cursor: pointer;
}