.messageView{
    flex:1;
    display: flex;
    flex-direction: column;
}

.messageSite{
    display: flex;
    flex-direction: column;
    flex:1;
    padding: 64px 64px;
    background-color: #F4F6F9;
}

.pageDesc{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.returnText{
    color:#329DFF;
}

.returnText:hover{
    cursor: pointer;
}

.displayMessages{
    display: flex;
    flex:1;
    gap:64px;
}

.algorithms{
    display: flex;
    flex-direction: column;
    gap:16px;
    margin-top: 16px;
}