@import url('https://fonts.cdnfonts.com/css/alegreya-sans-sc');
.newMessagePage{
    flex:1;
    display: flex;
}

.newMessageSite{
    display: flex;
    flex-direction: column;
    flex:1;
    padding: 64px 64px;
    background-color: #F4F6F9;
    gap:20px;
}

.newMessageHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.saveMessage{
    display: flex;
    text-align: center;
    justify-content: center;
    width: fit-content;
    padding: 15px 30px 15px 30px;
    font-size: medium;
    align-self: center;
    background-color: #329DFF;
    border: none;
    letter-spacing: 1.5px;
    color:#FFFFFF;
    font-family: "Assistant";
    font-weight: 400;
    border-radius: 3px;
    align-items: center;
    gap:8px;
    cursor: pointer;
}

.messageTitle{
    font-size: small;
}

.messageText{
    resize: none;
    padding: 10px;
    display: flex;
    flex:1;
    font-family: "Assistant";
}
