.algoRow{
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    padding: 16px 16px;
    box-sizing: border-box;
    border-radius: 3px;
    border: none;
}

.algoItem{
    font-size: 14px;
    flex:1;
}


.algoRow:hover{
    scale:1.02;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}